<form name="loginForm">
    <div>{{errorMessage}}</div>
    <div class="form-group" ng-class="{'has-error': hasError}">
        <label for="username">Username:</label>
        <input class="form-control input-lg" name="username" type="text" ng-model="user.username" required />
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input class="form-control input-lg" name="password" type="password" ng-model="user.password" required />
    </div>
    <button ng-click="login()" ng-disabled="loginForm.$invalid">Login</button>
</form>
